#ToolBar{
	position:fixed;
	bottom:20px;
	right:12px;
	overflow:hidden;
	display:none;
}
#ToolBar a{
	font-size:x-large;
	color:#ffff66;
	text-decoration:none;
}
#modalBtn{
	position:fixed;
	bottom:20px;
	left:10px;
	overflow:hidden;
}
body{
	background:#fafafa;
}
.well{
	background-color:white;
}
